
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
	background-image: url("bg1.jpg");
	background-position:center ;
	background-size: cover;
	text-align: center;
}

 #myCanvas{
background-color: white;
border-radius: 10px;
border: 5px double orange;
} 
